<%- include('includes/head.ejs')%>

<head>

<body>
    <%- include('includes/nav.ejs')%>
    
    <main>
        <% if (fls.length > 0) { %>
            <div class="grid">
                <% for (let flashCard of fls) { %>
                    <article class="card flashCard-item">
                        <header class="card__header">
                            <h1 class="flashCard__title">
                                <%= flashCard.title %>
                            </h1>
                        </header>
                        <div class="card__image">
                            <!-- <img src="https://cdn.britannica.com/16/234216-050-C66F8665/beagle-hound-dog.jpg" alt=""> -->
                            <!-- <%= flashCard.imgURL %> -->
                            <img src="<%= flashCard.imgURL %>" alt="<%= flashCard.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="flashCard__means">
                                <%= flashCard.means %>
                            </h2>
                            <p class="flashCard__description">
                                <%= flashCard.description %>
                            </p>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Flash Card Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>